{% extends 'budget/base.html'%}
{% block content %}

<style>
.btnOuvrir{
    background-color: #29c296;
}
.btnOuvrir:hover{
    background-color: rgb(255, 113, 153);
}
</style>

<div class = "container">
    <div class="row">
        <h1 class="ffs" style="font-size: 100px;">Tous mes projets</h1>
        {% for project in list  %}
        <div class="col s12 13">
            <div class="card-panel">
                <h6 class="bold ff">{{ project.nom}} </h6>
                <h6>{{project.slug}}</h6>
                <a href="{% url 'project_detail' project.slug %}" class="btn btnOuvrir" >Ouvrir</a>

            </div>
        </div>
        {% empty %}
        <div class = "noproject-wrapper center">
            <h3 class="grey-text">Désolé, vous n'avez pas encore de projet.</h3>
        </div>
        {% endfor %}
        <a href="{% url 'creer_projet' %}" class="btn-large grey" style=" float: right; margin-top: 20px ;">
            <i class="material-icons white-text left">add</i>
            <span class="bold">Créer un projet</span>
        </a>
    </div>
</div>
{% endblock %}